body{
    margin: 0;
    padding: 0;
}
.title{
    color: green;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 25px;
}
.parent{
    display: flex;
    width: 85%;
    margin:0 auto;
}
.photo img{
    width: 340px;
}
.details-btn{
    padding: 20px 60px;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(45deg,green,red,green);
    margin-top: 25px;
    font-size: 30px;
    font-weight: 600;
}
.details-btn:hover{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

.green{
    color: green;
}
.red{
    color: red;
}
.blue{
    color: green;
}
.left-margin{
    margin-top: 10px;
    text-align: justify;
    font-style: italic;
    font-size: 20px;
    margin-right: 25px;
}
.header-color{
    color: red;
}
.child{
    color: black;
    text-align: center;
    font-size: 25px;
    margin-top: 120px;
    
}
.dhaka{
    width:300px ;
    border: 1px solid green;
    box-shadow: 6px 9px 12px green;
    border-radius: 20px;
    
}
.div-img img{
    width: 100%;
    border-radius: 15px;
}
.all-division{
    display: flex;
    padding: 20px ;
    justify-content: space-around;
    padding-bottom: 100px;
}